
<div style="margin: 0 auto; text-align: center;">
  <button (click)="startGame()">Start</button>
  <button (click)="stopGame()">Stop</button>
</div>
<!-- <h1></h1>
<div class="grid" [ngStyle]="setGridStyle()">
  <div *ngFor="let cell of grid">
    <div class="cell" [ngStyle]="setCellStyle()" [ngClass]="cell.alive ? 'alive' : 'dead'" (mouseover)="activateCell(cell)">
    </div>
  </div>
</div> -->
<div  id="canvas-container"><canvas #canvas width="1000" height="1000" (click)="getCord($event)"></canvas></div>
