// .canvas {
//   width: 500px;
//   height: 500px;
// }
.alive {
  background-color: black;
  transition: all 0.5s ease-in-out;
}
.dead {
  background-color: white;
  transition: all 0.5s ease-in-out;
}
#canvas-container {
  // width: 1000px;
  // height: 1000px;
  text-align: center;
}

canvas {
  // display: inline;
}
